#logo {
    width: 3.5rem;
}

.navbar h1 {
    padding-left: 1em;
    font-size: 3rem;
}

#content {
    background-color: #216C67;
}

#sidebar {
    background-color: #FCC0C3;
}

#sidebar li {
    color: #316C67;
}

#sidebar li:hover {
    background-color: #316C67;
    border-radius: 3px;
    color: white;
}
#sidebar li:focus {
    background-color: #316C67;
    border-radius: 3px;
    color: white;
}

#display {
    padding: 1em;
    background-color: #CAE5E3;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

li {
    font-size: 1.5em;
}

li:hover {
    background-color: #216C67;
    color: white;
    border-radius: 1em;
}