/**
 * Author: Jesse Roberts
 * Date completed: 11/5/23
 */
body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5em;
    font-weight: 600;
}

#display h1 {
    font-weight: 800;
}

#logo {
    width: 3.5rem;
}

.navbar h1 {
    padding-left: 1em;
    font-size: 3rem;
}

#content {
    background-color: #f4efbe;
}

#sidebar {
    padding: 1em;
    background-color: #ab70d6;
}

#sidebar li {
    color: black;
}

#sidebar li:hover {
    background-color: #9515d1;
    border-radius: 3px;
    color: white;
}
#sidebar li:focus {
    background-color: #9515d1;
    border-radius: 3px;
    color: white;
}

#display {
    padding: 1em;
    background-color: #F0CEA0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 0px .4em black;
}

li {
    font-size: 1.5em;
}

li:hover {
    background-color: #9515d1;
    color: white;
    border-radius: 1em;
}

.fa-star {
    color: gold;
    text-shadow: 0px 0px 3px black;
}